<!DOCTYPE html>
<html lang="en" dir="ltr">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Turna.com</title>

    <link rel="stylesheet" href="assets/css/styles.css">

  </head>

  <body>
