{% include "partials/master-top.njk" %}
  <div class="main-wrapper">
    <header class="main-header" style="background-image: url(assets/images/turna-header-image@2x.png)">
      <div class="filter"></div>
      <div class="inner">
        <nav class="main-nav">
          <a href="/">
            <h1 class="header-logo">
              <img src="assets/images/turna-logo.svg" alt="">
              <span class="alt-logo">Turna.com</span>
            </h1>
          </a>
          <div class="hamburger-menu">
            <span class="icon-hamburger"></span>
          </div>
        </nav>
        <div class="header-content">
          <div class="row">
            <div class="passenger">2 YETİŞKİN</div>
          </div>
          <div class="row">
            <div class="destinations">
              <div class="">İSTANBUL</div>
              <span class="icon-double-way"></span>
              <div class="">ANKARA</div>
            </div>
            <div class="price">532</div>
          </div>
        </div><!-- .header-content -->
      </div><!-- .inner -->
    </header><!-- .main-header -->
    <div class="main-content">
      <div class="box">
        <div class="list-wrapper">
          <ul>
            <li class="list-item">
              <div class="summary">
                <div class="left">
                  <div class="inn">
                    <figure>
                      <img src="assets/images/thy-logo@2x.png" alt="">
                    </figure>
                    <div class="info">
                      <div>THY</div>
                      <div>TK7242, V</div>
                    </div>
                  </div>
                </div>
                <div class="right">
                  <div class="inn">
                    <div class="date"><strong>GİDİŞ: </strong><span>30 HAZ 2018, Pzt.</span></div>
                    <div class="other-info">
                      <div class="destinations">
                        <span>İST</span>
                        <span class="icon-airplane"></span>
                        <span>ANK</span>
                      </div>
                      <div class="time">15:35 - 16:55</div>
                    </div>
                    <div class="link"><span>Uçuş detayları<span></div>
                  </div>
                </div>
                <div class="info-btn">
                  <span class="icon-info"></span>
                </div>
              </div>
              <div class="details">
                <div class="inn">
                  <div class="left">
                    <div class="home-time">16:35</div>
                    <div class="away-time">17:35</div>
                    <div class="duration">76m</div>
                  </div><!-- .left -->

                  <div class="right">
                    <div class="flight-line">
                      <span class="icon-airplane"></span>
                    </div>
                    <div class="home">
                      <div class="city"><strong>İSTANBUL </strong><span class="short-code">(SG)</span><span class="date">30 HAZ 2018</span></div>
                    </div><!-- .home -->

                    <div class="other-info">
                      <div>Havayolu: THY Airlines</div>
                      <div>Uçuş no: TK7243, SINIF V</div>
                      <div>Bagaj hakkı: 15kg.</div>
                    </div><!-- .other-info -->

                    <div class="away">
                      <div class="city"><strong>ANKARA</strong> <span class="short-code">(ESB)</span><span class="date">30 HAZ 2018</span></div>
                    </div>
                  </div><!-- .right -->
                </div><!-- .inn -->
              </div><!-- .details -->
            </li><!-- .list-item -->
            <li class="list-item">
              <div class="summary">
                <div class="left">
                  <div class="inn">
                    <figure>
                      <img src="assets/images/pegasus-logo@2x.png" alt="">
                    </figure>
                    <div class="info">
                      <div>PEGASUS</div>
                      <div>TK7242, V</div>
                    </div>
                  </div>
                </div>
                <div class="right">
                  <div class="inn">
                    <div class="date"><strong>DÖNÜŞ: </strong><span>10 TEM 2018, Pzt.</span></div>
                    <div class="other-info">
                      <div class="destinations">
                        <span>ANK</span>
                        <span class="icon-airplane"></span>
                        <span>İST</span>
                      </div>
                      <div class="time">15:35 - 16:55</div>
                    </div>
                    <div class="link"><span>Uçuş detayları<span></div>
                  </div>
                </div>
                <div class="info-btn">
                  <span class="icon-info"></span>
                </div>
              </div>

              <div class="details">
                <div class="inn">
                  <div class="left">
                    <div class="home-time">16:35</div>
                    <div class="away-time">17:35</div>
                    <div class="duration">76m</div>
                  </div><!-- .left -->

                  <div class="right">
                    <div class="flight-line">
                      <span class="icon-airplane"></span>
                    </div>
                    <div class="home">
                      <div class="city"><strong>ANKARA </strong><span class="short-code">(ESB)</span><span class="date">10 TEM 2018</span></div>
                    </div><!-- .home -->

                    <div class="other-info">
                      <div>Havayolu: Pegasus Airlines</div>
                      <div>Uçuş no: TK7243, SINIF V</div>
                      <div>Bagaj hakkı: 15kg.</div>
                    </div><!-- .other-info -->

                    <div class="away">
                      <div class="city"><strong>İSTANBUL</strong> <span class="short-code">(SG)</span><span class="date">10 TEM 2018</span></div>
                    </div>
                  </div><!-- .right -->
                </div><!-- .inn -->
              </div><!-- .details -->
            </li><!-- .list-item -->
          </ul>
        </div><!-- .list-wrapper -->
      </div><!-- .box -->
      <div class="box">
        <div class="row">
          <table>
            <tbody>
              <tr>
                <td>
                  <div class="label">FİYAT</div>
                  <div class="value">287,98</div>
                </td>
                <td>
                  <div class="label">VERGİ</div>
                  <div class="value">287,98</div>
                </td>
                <td>
                  <div class="label">HİZMET</div>
                  <div class="value">287,98</div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="row"><strong class="text-primary fw900">KAZANACAĞINIZ PUAN: </strong>+10,00 P (10 TL) </div>
        <div class="row">
          <div class="warning">
            <strong>ÖNEMLİ: </strong>Bu işlemden kazanılan puanlar, satın alma işlemini tamamladıktan sonra 24 saat içinde kullanılabilir hale gelir.
          </div>
        </div>
        <div class="box-footer bg-secondary">
          <div class="inn">
            <div class="label">TOPLAM TUTAR:</div>
            <div class="value">532</div>
          </div><!-- .inn -->
        </div><!-- .box-footer -->
      </div><!-- .box -->
      <div class="pagination">
        <ul>
          <li class="active">1</li>
          <li>2</li>
          <li>3</li>
          <li>4</li>
          <li>5</li>
        </ul>
      </div>
      <div class="button-group">
        <ul>
          <li class="active">DEVAM ET</li>
        </ul>
      </div>
    </div><!-- .main-content -->
  </div><!-- .main-wrapper -->
{% include "partials/master-bottom.njk" %}
