$white: #FFFFFF;
$black: #000000;

$orange: #FF9012;
$dark-orange: #FF7B20;

$light-blue: #12BAFF;
$blue: #007EB2;

$sea-green: #00ABB2;
$green: #23CCA1;

$red: #FF1C1C;

$font-normal: "Open Sans", sans-serif;
$font-condensed: "Open Sans Condensed", sans-serif;

$light-gray: #EFEFEF;

$background-color: $light-gray;

$text-color: #484848;
$link-color: $blue;

$border-radius: 6px;
$border-color: #D5D5D5;

html,
body{
  position: relative;
  min-height: 100%;
  font-family: $font-normal;
  color: $text-color;
  font-size: 14px;
}

body{
  background-color: $background-color;
}

h1, h2, h3, h4, h5, h6{}

.text-primary{
  color: $dark-orange;
}

.text-secondary{
  color: $blue;
}

.text-success{
  color: $blue;
}

.text-danger{
  color: $red;
}

.text-warning{
  color: $dark-orange;
}

.text-info{
  color: $sea-green;
}

.bg-primary,
.bg-secondary,
.bg-success,
.bg-danger,
.bg-warning,
.bg-info{
  color: $white;
}

.bg-primary{
  background-color: $dark-orange;
}
.bg-secondary{
  background-color: $blue;
}
.bg-success{
  background-color: $blue;
}
.bg-danger{
  background-color: $red;
}
.bg-warning{
  background-color: $dark-orange;
}
.bg-info{
  background-color: $sea-green;
}

.fw900{
  font-weight: 900;
}

.main-wrapper{
  width: 100%;
  max-width: 460px;
  margin: 0 auto;
  padding: 15px;
}

.main-header{
  position: relative;
  font-family: $orange;
  margin: -15px -15px 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  padding: 15px 15px 70px;
  /*
  border-bottom-left-radius: 10%;
  border-bottom-right-radius: 10%;
  overflow: hidden;
  */
  &:after{
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    left: 0;
    bottom: -5px;
    background-image: url(../images/header-mask.svg);
    background-size: cover;
    background-position: center;
    padding-top: 16%;
  }
  .main-nav{
    height: 40px;
    @include flex($justify-content: space-between);
    margin-bottom: 10px;
    .header-logo{
      img{
        height: 30px;
      }
      .alt-logo{
        position: absolute;
        top: 0;
        left: 0;
        z-index: 0;
        color: transparent;
      }
    }
    .hamburger-menu{
      width: 36px;
      height: 36px;
      text-align: right;
      .icon-hamburger{
        position: relative;
        font-size: 36px;
        &:before{
          color: white;
        }
      }
    }
  }
  .header-content{
    font-size: 14px;
    color: white;
    padding: 10px 0;
    .row{
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 5px;
      &:not(:last-child){
        margin-bottom: 4px;
      }
      .passenger{
        font-size: 14px;
        font-weight: 600;
        &:before{
          content: "\e908";
          font-family: "turna";
          margin-right: 5px;
        }
      }
      .destinations{
        display: flex;
        justify-content: space-between;
        font-size: 18px;
        .icon-double-way{
          padding: 0 8px;
          &:before{
            color: $white;
          }
        }
      }
      .price{
        font-size: 22px;
        font-weight: 900;
        &:after{
          content: "\e906";
          font-family: "turna";
          font-size: 18px;
          color: white;
        }
      }
    }
  }
}

.inner{
  position: relative;
}

.filter{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  @include gradient;
  opacity: .9;
}

.main-content{
  position: relative;
  margin-top: -70px;
}

.box{
  border-radius: $border-radius;
  box-shadow: 0 3px 4px rgba(0,0,0,.1);
  background-color: $white;
  margin-bottom: 15px;
  padding: 15px;
  .row{
    margin-left: -15px;
    margin-right: -15px;
    padding: 15px 15px;
    border-bottom: 2px dotted $border-color;
    &:first-child{
      padding-top: 0;
    }
    &:last-child{
      padding-bottom: 0;
    }
    table{
      width: 100%;
      td{
        &:not(:first-child){}
        &:last-child{}
        .label{
          margin-bottom: 2px;
          font-size: 12px;
        }
        .value{
          font-weight: 900;
          font-size: 18px;
          &:after{
            content: "\e906";
            font-family: "turna";
            font-size: 14px;
          }
        }
      }
    }
  }
}

.list-wrapper{
  ul{
    margin: -15px;
    li{
      position: relative;
      padding: 15px;
      &:not(:last-child){
        border-bottom: 2px dotted $border-color;
        &:after, &:before{
          content: "";
          display: block;
          position: absolute;
          width: 16px;
          height: 16px;
          border-radius: 16px;
          bottom: 0;
          background-color: $background-color;
        }
        &:before{
          left: 0;
          transform: translatex(-50%) translateY(50%);
          box-shadow: inset -3px 0 4px rgba(0,0,0,.05);
        }
        &:after{
          right: 0;
          transform: translatex(50%) translateY(50%);
          box-shadow: inset 3px 0 4px rgba(0,0,0,.05);
        }
      }
      .summary{
        position: relative;
        display: flex;
        .info-btn{
          position: absolute;
          right: 0;
          top: 50%;
          transform: translateY(-50%);
          width: 32px;
          height: 32px;
          border-radius: 32px;
          background-color: $blue;
          @include flex;
          span{
            &:before{
              font-size: 18px;
              color: white;
              line-height: 0;
            }
          }
        }
        .left{
          @include flex;
          width: 50px;
          margin-right: 15px;
          .inn{
            text-align: center;
            figure{
              width: 26px;
              margin: 0 auto;
              margin-bottom: 5px;
              img{}
            }
            .info{
              font-size: 10px;
              div{
                &:not(:last-child){
                  margin-bottom: 2px;
                }
              }
            }
          }
        }
        .right{
          .inn{
            .date{
              font-size: 12px;
              margin-bottom: 6px;
              strong{
                font-weight: 900;
              }
            }
            .other-info{
              display: flex;
              align-items: center;
              margin-bottom: 6px;
              font-size: 14px;
              .icon-airplane{
                font-size: 14px;
              }
              .destinations{
                margin-right: 15px;
              }
              .time{
                opacity: .6;
              }
            }
            .link{
              color: $blue;
              font-size: 12px;
              font-weight: 600;
              span{
                position: relative;
                &:after{
                  content: "\e901";
                  position: absolute;
                  right: -16px;
                  top: 5px;
                  font-family: "turna";
                  font-size: 11px;
                  padding-left: 2px;
                }
              }
            }
          }
        }
      }
      .details{
        display: none;
        padding: 15px 0 0;
        margin-top: 15px;
        border-top: 1px solid lighten($border-color, 10%);
        .inn{
          display: flex;
          .left{
            position: relative;
            width: 50px;
            flex: 0 0 50px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            .duration{
              position: absolute;
              font-weight: 900;
              font-size: 12px;
              left: 50%;
              transform: translateX(-50%);
            }
            .home-time, .away-time{
              font-weight: 900;
              font-size: 12px;
            }
            .duration{
              top: 30px;
              opacity: .4;
              font-weight: normal;
            }
          }
          .right{
            position: relative;
            width: calc(100% - 50px);
            flex: 0 0 calc(100% - 50px);
            padding-left: 50px;
            .flight-line{
              position: absolute;
              left: 20px;
              width: 2px;
              height: 70%;
              border-right: 2px dotted $blue;
              top: 0;
              bottom: 0;
              margin: auto;
              .icon-airplane{
                position: absolute;
                width: 26px;
                height: 26px;
                font-size: 22px;
                background-color: white;
                transform: rotate(90deg) translateY(51%);
                top: 11px;
                text-align: center;
                &:before{
                  color: $blue;
                }
              }
              &:before{
                top: -14px;
              }
              &:after{
                bottom: -14px;
              }
              &:before, &:after{
                position: absolute;
                content: "";
                display: block;
                left: -2px;
                width: 6px;
                height: 6px;
                border-radius: 6px;
                background-color: $blue;
              }
            }
            .city{}
            .short-code{}
            .date{
              padding: 0 10px;
            }
            .home, .away{
              font-size: 12px;
            }
            .home{}
            .other-info{
              padding: 15px 0;
              font-size: 12px;
              div{
                margin-bottom: 5px;
              }
            }
            .away{}
          }
        }
      }
      &.open{
        .details{
          display: block;
        }
      }
    }
  }
}

.main-footer{
  font-family: $font-condensed;
  font-weight: 900;
}

.warning{
  font-size: 12px;
  line-height: 1.3;
  strong{
    font-weight: 900;
  }
}

.box-header{}
.box-footer{
  margin-left: -15px;
  margin-right: -15px;
  margin-bottom: -15px;
  padding: 15px;
  position: relative;
  border-top: 2px dotted $blue;
  border-bottom-left-radius: $border-radius;
  border-bottom-right-radius: $border-radius;
  .inn{
    @include flex($justify-content: space-between);
  }
  .label{
    font-size: 16px;
    font-weight: 900;
  }
  .value{
    font-size: 20px;
    font-weight: 900;
    &:after{
      content: "\e906";
      font-family: "turna";
      font-size: 14px;
    }
  }
  &:before{
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    top: -4px;
    border-top: 2px dotted $blue;
  }
}

.pagination{
  margin-bottom: 15px;
  ul{
    @include flex;
    li{
      position: relative;
      @include flex;
      width: 26px;
      height: 26px;
      border-radius: 32px;
      color: $dark-orange;
      border: 1.2px solid $dark-orange;
      font-weight: 600;
      &:not(:last-child){
        margin-right: 12px;
        &:after{
          content: "";
          display: block;
          position: absolute;
          right: -9px;
          top: 50%;
          transform: translateY(-50%);
          width: 4px;
          height: 4px;
          border-radius: 10px;
          background-color: $dark-orange;
        }
      }
      &.active{
        width: 36px;
        height: 36px;
        color: $white;
        @include gradient;
      }
    }
  }
}

.button-group{
  margin-bottom: 20px;
  ul{
    @include flex;
    li{
      @include flex;
      min-height: 46px;
      border: 1px solid $dark-orange;
      color: $dark-orange;
      font-weight: 900;
      padding: 0 30px;
      &.active{
        @include gradient;
        color: $white;
      }
      &:not(:first-child){
        margin-left: -1px;
      }
      &:first-child{
        border-top-left-radius: $border-radius;
        border-bottom-left-radius: $border-radius;
      }
      &:last-child{
        border-top-right-radius: $border-radius;
        border-bottom-right-radius: $border-radius;
      }
    }
  }
}

@media screen and (width: 320px){
  body{
    font-size: 12px;
  }
  .box{
    .row{
      table{
        td{
          .value{
            font-size: 16px;
          }
        }
      }
    }
  }
  .box-footer{
    .label{
      font-size: 14px;
    }
    .value{
      font-size: 16px;
    }
  }


  .list-wrapper{
    ul{
      li{
        .summary{
          .right{
            .inn{
              .other-info{
                .destinations{
                  margin-right: 10px;
                }
                .time{
                  font-size: 12px;
                }
              }
            }
          }
        }
      }
    }
  }

  .main-header .header-content .row .destinations {
    font-size: 16px;
    font-weight: 600;
  }

  .main-header .header-content .row:not(:last-child) {
    margin-bottom: 2px;
  }
}
