$turna-font-path: "../fonts/icons/" !default;

$icon-airplane: "\e900";
$icon-arrow-right: "\e901";
$icon-call: "\e902";
$icon-double-way: "\e903";
$icon-hamburger: "\e904";
$icon-info: "\e905";
$icon-lira: "\e906";
$icon-minus: "\e907";
$icon-one-person: "\e908";
$icon-plus: "\e909";
$icon-star: "\e90a";

@function unicode($str) {
  @return unquote("\"") + $str + unquote("\"");
}

@font-face {
  font-family: 'turna';
  src:  url('#{$turna-font-path}/turna.eot?s2gmvd');
  src:  url('#{$turna-font-path}/turna.eot?s2gmvd#iefix') format('embedded-opentype'),
    url('#{$turna-font-path}/turna.ttf?s2gmvd') format('truetype'),
    url('#{$turna-font-path}/turna.woff?s2gmvd') format('woff'),
    url('#{$turna-font-path}/turna.svg?s2gmvd#turna') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'turna' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



.icon-airplane {
  &:before {
    content: $icon-airplane;
    color: #484848;
  }
}
.icon-arrow-right {
  &:before {
    content: $icon-arrow-right;
    color: #484848;
  }
}
.icon-call {
  &:before {
    content: $icon-call;
    color: #484848;
  }
}
.icon-double-way {
  &:before {
    content: $icon-double-way;
    color: #484848;
  }
}
.icon-hamburger {
  &:before {
    content: $icon-hamburger;
    color: #484848;
  }
}
.icon-info {
  &:before {
    content: $icon-info;
    color: #484848;
  }
}
.icon-lira {
  &:before {
    content: $icon-lira;
    color: #484848;
  }
}
.icon-minus {
  &:before {
    content: $icon-minus;
    color: #484848;
  }
}
.icon-one-person {
  &:before {
    content: $icon-one-person;
    color: #484848;
  }
}
.icon-plus {
  &:before {
    content: $icon-plus;
    color: #484848;
  }
}
.icon-star {
  &:before {
    content: $icon-star;
    color: #484848;
  }
}
