@mixin border($width: 2px, $style: solid, $color: $gray) {
  border: $width $style $color;
}

@mixin gradient($start-color: $orange, $end-color: $dark-orange, $start-percent: 0, $end-percent: 100%, $direction: left, $across-direction: right) {
  background: $start-color;
  background: -moz-linear-gradient($direction, $start-color $start-percent, $end-color $end-percent);
  background: -webkit-linear-gradient($direction, $start-color $start-percent, $end-color $end-percent);
  background: linear-gradient(to $across-direction, $start-color $start-percent, $end-color $end-percent);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$start-color', endColorstr='$end-color',GradientType=1 );
}

@mixin flex($display: flex, $align-items: center, $justify-content: center){
  display: $display;
  align-items: $align-items;
  justify-content: $justify-content;
}

@mixin verticalAlign{
  top: 50%;
  transform: translateY(-50%);
}
